.features {
  height: 900px;
  width: 100%;
  display: block;
  background-image: url('/img/shutterstock_234753442.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonials {
  height: 900px;
  width: 100%;
  display: block;
  background-image: url('/img/Gray-background-with-trucks.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.calculator {
  height: 900px;
  width: 100%;
  display: block;
  background-color: white;
}

.footer {

  height: 400px;
  width: 100%;
  display: block;
  background-color: #42576A;
}