.slider {
    margin-top: 80px;
    .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
        h3 {
            font-style: italic;
            font-weight: 300;
            &:after {
                display: block;
                content: " ";
                width: 100px;
                height: 3px;
                background-color: red;
                position: absolute;
                left: 50%;
                top: 70px;
                transform: translateX(-50%);
            }
        }
        p {
            font-size: 80px;
            font-weight: 500;
        }
    }
    .icons {
        z-index: 10;
        position: absolute;
        display: block;
        top: 375px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        .truck-img {
            width: 100%;
            filter: invert(100%);
        }
        .icon-wrapper {
            width: 60px;
            height: 60px;
            display: block;
            margin-top: 40px;
            fill: white;
            img {
                width: 100%;
                display: block;
                filter: invert(100%);
            }
        }
    }
}
.features {
    height: 1100px;
    width: 100%;
    display: block;
    background-image: url('/img/shutterstock_234753442.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    .features-1 {
        .card {
            border: none;
            background: transparent;
            .card-img-top {
                border-radius: calc(0.25rem - 1px);
                height: 130px;
                img {
                    height: 150px;
                    display: block;
                }
            }
            .card-body {
                padding: 20px 8px;
            }
        }
    }
    .features-2 {
        .card {
            border: none;
            background: transparent;
            .card-img-top {
                border-radius: calc(0.25rem - 1px);
                height: 190px;
                img {
                    height: 150px;
                    display: block;
                }
            }
            .card-body {
                padding: 20px 8px;
            }
        }
    }
}
.testimonials {
    height: 900px;
    width: 100%;
    display: block;
    background-image: url('/img/Gray-background-with-trucks.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    color: white;
    h2 {
        font-size: 40px;
    }
}

.calculator {
    height: 900px;
    width: 100%;
    display: block;
    background-color: white;
    padding-top: 80px;
    em {
        font-size:18px;
    }
    h2 {
        font-size: 40px;
    }
}

.footer {

    height: 400px;
    width: 100%;
    display: block;
    background-color: #42576A;
}

// about
.about {
    height: 900px;
    width: 100%;
    display: block;
    background-image: url('/img/Transparent-background-with-dots.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    .abouts{
        .card {
            border: 2px solid #E4E4E4;
            background: transparent;
            .card-img-top {
                border-radius: calc(0.25rem - 1px);
                height: 130px;
                img {
                    width: 150px;
                    display: block;
                }
            }
            .card-body {
                padding: 20px 8px;
                background: #fff;
            }
        }
    }
    .row{
        margin-top: 90px;
    }
}
#Map {
    width:67%;
    height: 600px;
}
#branchAndMap{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 7px;
}
#postOffice{
    width: 1182px;
    margin: auto;
    float: none;
}
#listBranch{
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 600px;
    overflow: auto;
}
#listBranch div{
    border-bottom: 1px solid rgb(221,221,221);
    padding: 20px 0;
}
#about_post_office{
    display: flex;
    flex-wrap: wrap;

}
#review_post_office{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 530px;
}
#reviews{
    width: 42%;
}
#reviews h4{
    font-weight: 400;
}
#advertise{
    width: 50%
}
#review_post_office img{
    object-fit: contain;
}
#location{
    width: 100%;
}
#addr{
    width: 93%;
}
#click_search{
    width: 7%;
}
#user_trust{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#user_trust h1{
    color: red;
}
#user_trust div{
    width: 220px;
    height: 115px;
    text-align: center;
    padding-top: 12px;
    border: 1px solid;
}
#location{
    border: 1px solid rgb(181 181 181);
    padding: 7px;
}
